{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <div class="profile-header">
        <img src="{{ url_for('static', filename='images/Profile.jpeg') }}" alt="Debmalya Panda" class="profile-pic">
        <h1 class="profile-name animate-text">Debmalya Panda</h1>
        <section class="hero-section">
        <div class="hero-text">
            <h1>Welcome to My Portfolio</h1>
            <p>I’m Debmalya Panda — a passionate B.Tech student specializing in AI & ML.</p>
            <p>I build modern, scalable software and intelligent systems that solve real-world problems.</p>
            <p>From web development to machine learning, I explore the frontier of innovation.</p>
            <p>Dive into my projects, skills, and ideas — let's create something impactful together.</p>
        </div>
        </section>
        
        <a href="{{ url_for('static', filename='Debmalya_Resume.pdf') }}" download class="resume-btn">
            <i class="fas fa-download"></i> Download Resume
        </a>
        <div class="social-icons">
            <a href="https://github.com/Debmalya727" target="_blank"><i class="fab fa-github"></i></a>
            <a href="https://www.linkedin.com/in/debmalya-panda-5836b2298" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <script>
  setTimeout(() => {
    const text = document.querySelector('.animate-text');
    if (text) {
      text.style.borderRight = 'none';
    }
  }, 4800); // 3s (typing) + 1.8s (3 blinks) = 4.8s
</script>
{% endblock %}
